<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Formulario</h3>
            </div>
            <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Nombre:</label>
                            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                            <div class="form-text text-danger text-left" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
                                <span *ngIf="form.get('nombre')?.errors?.['required']">Nombre Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Apellido Paterno:</label>
                            <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="apPaterno">
                            <div class="form-text text-danger text-left" *ngIf="form.get('apPaterno')?.touched && form.get('apPaterno')?.invalid">
                                <span *ngIf="form.get('apPaterno')?.errors?.['required']">Apellido Paterno Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Apellido Materno:</label>
                            <input type="text" class="form-control" placeholder="Apellido Materno" formControlName="apMaterno">
                            <div class="form-text text-danger text-left" *ngIf="form.get('apMaterno')?.touched && form.get('apMaterno')?.invalid">
                                <span *ngIf="form.get('apMaterno')?.errors?.['required']">Apellido Materno Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Perfil:</label>
                            <select class="form-control" formControlName="idPerfil">
                                <option value="" selected disabled>Selecciona un Perfil</option>
                                <option *ngFor="let perfil of profilesList" [value]="perfil.Id">{{perfil.Nombre}}</option>
                            </select>
                            <!-- <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="idPerfil"> -->
                            <div class="form-text text-danger text-left" *ngIf="form.get('idPerfil')?.touched && form.get('idPerfil')?.invalid">
                                <span *ngIf="form.get('idPerfil')?.errors?.['required']">Perfil Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Sede:</label>
                            <select class="form-control" formControlName="idSede">
                              <option value="" selected disabled>Selecciona una Sede</option>
                              <option *ngFor="let store of storesList" [value]="store.Id">{{store.Nombre}}</option>
                            </select>
                            <!-- <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="idSede"> -->
                            <div class="form-text text-danger text-left" *ngIf="form.get('idSede')?.touched && form.get('idSede')?.invalid">
                                <span *ngIf="form.get('idSede')?.errors?.['required']">Sede Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Porcentaje:</label>
                            <input type="text" class="form-control" placeholder="Porcentaje" formControlName="porcentaje">
                            <div class="form-text text-danger text-left" *ngIf="form.get('porcentaje')?.touched && form.get('porcentaje')?.invalid">
                                <span *ngIf="form.get('porcentaje')?.errors?.['required']">Porcentaje Requerido*</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-12">
    <app-custom-table
        keyRow="Id"
        [headers]="['#','Nombre','Usuario','Sucursal']"
        [keys]="['Id','Nombre','NombreUsuario','NombreSede']"
        [data]="personsList"
        [hasSearch]="true"
        [hasEdit]="true"
        [hasDelete]="true"
        (editEmit)="editPerson($event)"
        (deleteEmit)="deletePerson($event)"
    >
    </app-custom-table>
  </div>
</div>