<div class="row">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Formulario Alumnos</h3>
            </div>
            <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Matricula:</label>
                            <input type="text" class="form-control" placeholder="Matricula" formControlName="matricula">
                            <div class="form-text text-danger text-left" *ngIf="form.get('matricula')?.touched && form.get('matricula')?.invalid">
                                <span *ngIf="form.get('matricula')?.errors?.['required']">Matricula Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Nombre:</label>
                            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                            <div class="form-text text-danger text-left" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
                                <span *ngIf="form.get('nombre')?.errors?.['required']">Nombre Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Apellido Paterno:</label>
                            <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="apPaterno">
                            <div class="form-text text-danger text-left" *ngIf="form.get('apPaterno')?.touched && form.get('apPaterno')?.invalid">
                                <span *ngIf="form.get('apPaterno')?.errors?.['required']">Apellido Paterno Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Apellido Materno:</label>
                            <input type="text" class="form-control" placeholder="Apellido Materno" formControlName="apMaterno">
                            <div class="form-text text-danger text-left" *ngIf="form.get('apMaterno')?.touched && form.get('apMaterno')?.invalid">
                                <span *ngIf="form.get('apMaterno')?.errors?.['required']">Apellido Materno Requerido*</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>*Direccion:</label>
                            <input type="text" class="form-control" placeholder="Direccion" formControlName="direccion">
                            <div class="form-text text-danger text-left" *ngIf="form.get('direccion')?.touched && form.get('direccion')?.invalid">
                                <span *ngIf="form.get('direccion')?.errors?.['required']">Direccion Requerida*</span>
                            </div>
                        </div>
                    </div>  
                   
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" name="guardar">Guardar</button>
              </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-12">
    <app-custom-table
        keyRow="Matricula"
        [headers]="['Matricula','Nombre','ApPaterno','ApMaterno','Direccion']"
        [keys]="['Matricula','Nombre','ApPaterno','ApMaterno', 'Direccion']"
        [data]="alumnoList"
        [hasSearch]="true"
        [hasEdit]="true"
        [hasDelete]="true"
        (editEmit)="editAlumno($event)"
        (deleteEmit)="deleteAlumno($event)"
    >
    </app-custom-table>
  </div>
</div>